body {
  background: #0075a9;
  font-family: "arkhipregular", Arial, sans-serif;
  color: #fff; }

#jb .row {
  position: absolute;
  width: 100%;
  margin-top: 5rem; }
  #jb .row .main-element .half {
    transition: 0.5s; }
    #jb .row .main-element .half .big-letter {
      font-size: 62rem;
      color: #232323;
      text-shadow: 0px 0px 20px black; }
    #jb .row .main-element .half .big-j {
      letter-spacing: -55px;
      transition: 0.5s; }
    #jb .row .main-element .half .big-b {
      margin-left: -55px; }
    #jb .row .main-element .half .header {
      color: #232323;
      text-shadow: 0px 0px 20px black;
      margin-top: 60rem; }
    #jb .row .main-element .half .header--webdev {
      padding-right: 15px; }
    #jb .row .main-element .half .header--calligrapher {
      padding-left: 15px; }
  #jb .row .main-element .main-left {
    z-index: 200;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 98% 97%;
    transition: 0.5s; }
  #jb .row .main-element .main-right {
    z-index: 190;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 3% 100%;
    transition: 0.5s; }
  #jb .row .main-element--hover .half .big-j {
    mix-blend-mode: screen;
    opacity: 0.5;
    transition: 0.5s; }
  #jb .row .main-element--hover .half .big-b {
    mix-blend-mode: screen;
    opacity: 0.5;
    transition: 0.5s; }
  #jb .row .main-element--hover .half .header--webdev {
    color: #0075a9;
    transition: 0.5s; }
  #jb .row .main-element--hover .half .header--calligrapher {
    color: #dc4716;
    transition: 0.5s; }
  #jb .row .main-element--hover .main-left {
    background-image: url("img/j.png");
    transition: 0.5s; }
  #jb .row .main-element--hover .main-right {
    background-image: url("img/b.png");
    background-repeat: no-repeat;
    background-position: 3% 100%;
    transition: 0.5s; }
  #jb .row .main-element--click .half .big-j {
    mix-blend-mode: overlay;
    opacity: 0.8;
    transition: 0.5s; }
  #jb .row .main-element--click .half .big-b {
    mix-blend-mode: overlay;
    opacity: 0.8;
    transition: 0.5s; }

#header {
  background-image: url("img/header_pic.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  height: 1300px; }
  #header .header-top {
    background-image: url("img/header_bg.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 60vh; }
    #header .header-top--left .text-center {
      padding-top: 10%; }
    #header .header-top--middle {
      padding-top: 15px; }
      #header .header-top--middle-avatar {
        margin: auto;
        width: 100%; }
    #header .header-top--right .text-center {
      padding-top: 9%; }

#overview {
  margin-top: -500px;
  padding-top: 1000px;
  min-height: 2000px;
  background: none;
  background-image: url("img/overview_bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto; }
  #overview .overview-text h2 {
    font-size: 7rem;
    padding: 25px 0; }
  #overview .overview-text p {
    font-size: 2rem; }

#skills {
  min-height: 3000px;
  background-image: url("img/skills_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom; }
  #skills .skills-header h2 {
    font-size: 10rem; }

.separator {
  height: 20px;
  width: 100%;
  background-image: url("img/separator.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 75px 0; }
