$arkhip: 'arkhipregular', Arial, sans-serif;
$big-text: 62rem;
$header: 10rem;
$subheader: 7rem;
$subsubheader: 5rem;
$focus-text: 2rem;
$base-text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
$base-grey: #232323;
$base-blue: #0075a9;
$base-red: #dc4716;

body {
  background: $base-blue;
  font-family: $arkhip;
  color: #fff;
}

#jb {
  background: $base-grey;
  width: 100vw;
  height: 100vh;
  .row{
    position: absolute;
    width: 100%;
    margin-top: 5rem;
    .main-element {
      display: none;
      .half {
        transition: 0.5s;
        overflow: hidden;
        .big-letter {
          font-size: $big-text;
          color: $base-grey;
          text-shadow: $base-text-shadow;
        }
        .big-j {
          letter-spacing: -55px;
          transition: 0.5s;
        }
        .big-b {
          margin-left: -55px;
        }
        .header {
          color: $base-grey;
          text-shadow: $base-text-shadow;
          margin-top: 60rem;
        }
        .header--webdev {
          padding-right: 15px;
        }
        .header--calligrapher {
          padding-left: 15px;
        }
     }
      .main-left {
        z-index: 200;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 98% 97%;
        transition: 0.5s;
      }
      .main-right {
        z-index: 190;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 3% 100%;
        transition: 0.5s;

      }
    }
    .element--hover {
      .half {
        .big-j {
          mix-blend-mode: screen;
          opacity:0.5;
          transition: 0.5s;
        }
        .big-b {
          mix-blend-mode: screen;
          opacity:0.5;
          transition: 0.5s;
        }
        .header--webdev {
          color: $base-blue;
          transition: 0.5s;
        }
      .header--calligrapher {
          color: $base-red;
          transition: 0.5s;
        }
      }
      .main-left {
        background-image: url('img/j.png');
        background-position: 98% 97%;
        transition: 0.5s;
      }
      .main-right {
        background-image: url('img/b.png');
        background-repeat: no-repeat;
        background-position: 3% 100%;
        transition: 0.5s;
      }
    }
    .element--click {
      .half {
        .big-j {
          mix-blend-mode: overlay;
          opacity: 0.8;
          transition: 0.5s;
        }
        .big-b {
          mix-blend-mode: overlay;
          opacity: 0.8;
          transition: 0.5s;
        }
      }
    }
  }
}

#header {
  background-image: url('img/header_pic.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  height: 1300px;
  .to-top-btn {
    position: fixed;
    width: 150px;
    height: 150px;
    left: 100%;
    margin-left: -200px;
    top: 100%;
    margin-top: -200px;
    opacity: 0;
    transition: 0.2s;
    background-image: url('img/scroll-top.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .to-top-btn:hover {
    opacity: 1;
    transition: 0.2s;
  }
  .to-top-btn:active {
    background-image: url('img/scroll-top-hover.png');
    transition: 0.2s;
  }
  .to-top-btn--scroll {
    opacity: 0.5;
  }
  .header-top {
    height: 60vh;
    position: relative;
    padding-top: 30px;
    &--left {
      z-index: 5;
      .text-center {
        padding-top: 10%;
        font-size: $subsubheader;
      }
    }
    &--middle {
      z-index: 5;
      padding-top: 15px;
      &-avatar {
        margin: auto;
        width: 100%;
      }
    }
    &--right {
      z-index: 5;
      .text-center {
        padding-top: 9%;
        font-size: $subsubheader;
      }
    }
  }
  .header-top::after {
    content: "";
    background-image: url('img/header_bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .header-quote {
    &-text {
      margin-top: -50px;
      height: 175px;
      padding-top: 50px;
      font-size: 1.75rem;
      p {
        display: none;
      }
      .author {
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

#overview {
  margin-top: -650px;
  padding-top: 550px;
  background: none;
  background-image: url('img/overview_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  .overview-text {
    padding: 50px 0 200px 0;
    text-align: justify;
    .scroll-button {
      margin-top: -400px;
    }
    h2 {
      font-size: $subheader;
      padding: 25px 0;
    }
    p {
      font-size: $focus-text;
    }
  }
}

#skills {
  min-height: 3000px;
  background-image: url('img/skills_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding-top: 100px;
  .skills-header {
    .scroll-button {
      margin-top: -250px;
    }
    h2 {
      font-size: $header;
    }
  }
}



.separator {
  height: 20px;
  width: 100%;
  background-image: url('img/separator.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 75px 0;
}

.scroll-button {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  width: 68px;
  height: 106px;
  background-image: url('img/button_scroll.png');
  transition: 0.3s;
}
.scroll-button:hover {
  background-image: url('img/button_scroll_hover.png');
  transition: 0.3s;
}
.showOverview {
  opacity: 0;
  transition: 0.5s;
}
