@media screen and (max-width:600px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  #jb {
    margin-left: 20px;
    margin-top: 20%;
    .row{
      .main-element {
        .half {
          .big-letter {
            font-size: $big-text-rwd;
            text-shadow: $base-text-shadow-rwd;
          }
          .big-j {
            letter-spacing: -15px;
          }
          .big-b {
            margin-left: -15px;
          }
          .header {
            color: $base-grey;
            text-shadow: $base-text-shadow-rwd;
            font-size: 1.5rem;
          }
          .header--webdev {
            padding-right: 0px;
          }
          .header--calligrapher {
            padding-left: 0px;
          }
       }
        .main-left {
          width: 14rem;
          z-index: 200;
          background-image: none;
          background-repeat: no-repeat;
          background-position: 2rem 4.4rem;
          transition: 0.5s;
        }
        .main-right {
          z-index: 190;
          background-image: none;
          background-repeat: no-repeat;
          background-position: 0.3rem 1.9rem;
          transition: 0.5s;
          // margin-left: -30px;

        }
      }
      .main-element:hover {
        .half {
          .big-j {
            mix-blend-mode: screen;
            opacity:0.5;
          }
          .big-b {
            mix-blend-mode: screen;
            opacity:0.5;
          }
          .header--webdev {
            color: $base-blue;
          }
          .header--calligrapher {
            color: $base-red;
          }
        }
        .main-left {
          background-image: url('../images/j.png');
          background-size: 11.5rem auto;
          background-position: 2rem 4.4rem;
        }
        .main-right {
          background-image: url('../images/b.png');
          background-size: 15.3rem auto;
          background-position: 0.3rem 1.9rem;
        }
      }
    }
  }

  #page-nav {
    display: none;
  }

  #header {
    background-size: auto 100%;
    background-position: right bottom;
    .header-bar {
      &--menu {
        &-nav {
          margin-top: 30px;
          &--hole {
            .nav-el {
              margin: 5px 1px;
              width: 100px ;
              height: 30px;
            }
            .nav-el--active {
              transform: translateX(-50px);
            }
          }
        }
      }
    }
    .header-top {
      &--pos {
        top: -30px;
      }
      &--left {
        &-avatar {
          width: 70%;
          margin-left: 42.5%;
        }
        &-name {
          font-size: 2.5rem;
          text-align: center;
          padding-bottom: 10px;
          margin:auto;
          margin-top: 50px;
          width: 150%;
        }
        &-occupation {
          width: 150%;
          margin: auto;
          text-align: center;
          font-size: 2.2rem;
          line-height: 2.6rem;
          margin-top: 10px;
          margin-bottom: 70px;
        }
      }
      &--right {
        z-index: 5;
        &--dummy {
          position: absolute;
          left: 50%;
          margin-left: -45%;
          width: 70%;
          height: 60px;
          &-button {
            top: 35px;
          }
        }
        .text-center {
          padding-top: 4%;
          font-size: initial;
        }
      }
    }
  }

  #overview {
    margin-top: -85vh;
    padding-top: 450px;
    background-repeat: no-repeat;
    background-size: auto 100% ;
    z-index: 10;
    .overview-wrapper {
      padding: 50px 0 0px 0;
      text-align: justify;
      height: auto;
      z-index: 0;
      .scroll-button {
        margin-top: -200px;
      }
      &--pos {

      }
      &-el {
        // border: 1px solid white;
        padding: 100px 0;
        height: 500px;
        &-icn {
          margin: auto;
          width: 15rem;
          font-size: 15rem;
        }
        &-desc:after {
          width: 50%;
          height: 2px;
          background-color: #fff;
          position: absolute;
        }
        &-desc {
          position: relative;
          opacity: 0;
          width: 100%;
          padding: 0 50px;
          h3 {
            padding: 10px 0;
          }
        }
      }
    }
    .scroll-button {
      margin-top: -100px;
    }
  }
  #skills {
    padding: 100px 0 0px 0;
    .skills-header {
      h2 {
        font-size: $header-rwd;
      }
    }
    .offer {
      position: relative;
      margin: 150px 0 150px 0;
      opacity: 0;
      &-nav {
        left: 0;
        top: -67px;
        height: 70px;
        width: 100%;
        position: absolute;
        z-index: 500;
        display: flex;
        float: left;
        &-icn {
          width: 25%;
          height: 100%;
          border-right: none;
          border-bottom: 3px solid #fff;
          padding-top: 2rem;
          font-size: 3rem;
          transition: background-color 0.3s ease-out, font-size 0.25s ease-out;
          cursor: pointer;
        }
        .active {
          padding-top: 1.7rem;
          background-color: $base-red;
          border-left: 3px solid #fff;
          border-top: 3px solid #fff;
          border-right: 3px solid #fff !important;
          border-bottom: none !important;
        }
        // .active:hover {
        //   padding-top: 2.8rem;
        // }

      }
      &-content {
        position: relative;
        height: 600px;
        &-el {
          border-top: none;
          border-right: 3px solid #fff;
          border-bottom: 3px solid #fff;
          border-left: 3px solid #fff;
          display: none;
          width: 100%;
          height: 100%;
          background-color:$base-red;
          padding: 10px 50px;
          position: absolute;
          left: 0;
          top: 0;
          h3 {
            padding: 0 0 30px 0;
          }
          p {
            text-align: justify;
            padding: 0 50% 0 0;
          }
          img {
            position: absolute;
            top: 100%;
            left: 100%;
            z-index: 100;
            height: 525px;
            width: 350px;
            margin-top: -600px;
            margin-left: -420px;
            border: none !important;
          }
        }
        .active {
          display: block;
        }
      }
    }
  }
  #projects {
    padding: 50px 0 0px 0;
    .projects-wrapper {
      min-height: 800px;
      h2 {
        font-size: $subheader-rwd;
        padding: 0 0 50px 0;
      }
      #projects-nav {
        width: 100%;
        padding: 0 0 30px 0;
        ul {
          li {
            margin: auto;
            padding: 0;
            font-size: 1.5rem;
            min-width: 0;
          }
        }
      }
      .project-el {
        height: 100px;
        padding: 0;
        margin: 10px 0;
      }
      .lightbox {
        padding: 20px;
        overflow: scroll;
        &-quit {
          margin-left: -30px;
          font-size: 2.5rem;
        }
        &-miniatures {
          li {
            float: left;
            width: 40%;
            height: 50px;
            margin: 5px 5% 5px 5%;
          }
        }
        &-wrapper {
          padding: 5px;
          &--img {
            height: 40%;
            img {
              margin-top: 0;
              width: auto;
              height: 100%;
            }
          }
          &--text {
            height: 45%;
            h3 {
              padding: 0;
              width: 100%;
              margin:  20px 0;
              text-align: center;
              line-height: initial;
            }
            p {
              font-size: 1.2rem;
              text-align: justify;
            }
          }
          &--btns {
            .btn-sq {
              width: 120px;
              height: 40px;
              padding: 1rem;
              cursor: pointer;
              &--hole {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
    .scroll-button {
      margin-top: -50px;
    }
  }
  #testimonials {
    width: 100vw;
    overflow: hidden;
    .tes-wrapper {
      &-body {
        .tes-el {
          &-img {
            height: 100px;
            width: auto;
            margin: 10px 0 20px 0;
          }
          &-txt {
            position: relative;
            width: 40%;
            margin: auto;
            font-size: 1.1rem;
            &-author {
              font-style: italic;
              opacity: 0.7;
            }
          }
        }
      }
    }
    #carousel {
      width:905px;
      height:290px;
      margin:auto;
      #slides {
        overflow:hidden;
        /* fix ie overflow issue */
        position:relative;
        width:900px;
        height:250px;
        ul {
          position:relative;
          left:0;
          top:0;
          list-style:none;
          margin:0;
          padding:0;
          width:2700px;
          li {
            margin-left: -135px;
            width:900px;
            height:250px;
            float:left;
          }
        }
      }
      #buttons {
        margin:0 5px;
        position: absolute;
        width: 300px;
        text-align: center;
        z-index: 500;
        left: 50%;
        margin-left: -58px;
        a {
          display:block;
          float:left;
          font-size: 3rem;
          padding: 5px 15px;
          opacity: 0.4;
          transition: all 0.2s ease-in;
        }
        a:hover {
          opacity: 1;
        }
      }
    }
    .clear {clear:both}
  }

  .scroll-button {
    display: none;
  }
  #contact {
    background-color: $base-grey;
    min-height: 120vh;
    background-image: url('../images/contact_bg.jpg');
    background-position: center;
    background-attachment: fixed;
    .contact {

      &-header {
        padding: 50px 0;
        // border: 1px solid #fff;
        &-txt {
          font-size: $subheader-rwd;
        }
      }
      &-bubbles {
        height: 200px;
        &-el {
          .bubble {
            position: absolute;
            left: 50%;
            margin-left: -2rem;
            margin-top: 70px;
            height: 4rem;
            width: 4rem;
            padding: 0rem;
            svg {
              padding-top: 5px;
              font-size: 4.7rem;
            }
          }
          .caption {
            position: absolute;
            top: 0;
            left: 0;
            width: auto;
            text-align: center;
            font-size: 1rem;
            transition: all 0.2s ease-out;
            opacity: 0;
          }
        }
        &-el:hover {
          .bubble {
            border-radius: 50%;
            margin-left: -2rem;
            margin-top: 75px;
            border: 3px solid rgba(255,255,255,1);
            height: 6rem;
            width: 6rem;
            padding: 0.1rem;
          }
          .caption {
            opacity: 1;
            padding-top: 50px;
          }
        }
      }
      &-map {
        height: 300px;
        position: relative;
        #map {
          margin-top: 50px;
          margin-bottom: 175px;
          height: 270px;
          border-radius: 50%;
          border: 5px solid $base-grey;
          opacity: 0.6;
          transition: all 0.2s ease-out;
        }

        .map-overlay {
          display: none;
        }

      }
      &-map:hover {
        #map {
          opacity: 0.9;
        }
        .map-overlay {
          opacity: 0;
        }
      }
    }
  }
  .showOverview {
    animation: none !important;
    opacity: 1;
  }
  .showOverviewText {
    animation: none !important;
    opacity: 1 !important;
  }
}
