$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "font";
@import "animate";
@import "variables";

@keyframes slideUp {
  0% {transform: translateY(0);}
  100%{transform: translateY(-90px);}
}

body {
  background: $base-blue;
  font-family: $arkhip;
  color: #fff;
}

#jb {
  background: $base-grey;
  width: 100vw;
  height: 100vh;
  .row{
    position: absolute;
    width: 100%;
    margin-top: 0rem;
    .main-element {
      display: none;
      .half {
        transition: 0.5s;
        overflow: hidden;
        .big-letter {
          font-size: $big-text;
          color: $base-grey;
          text-shadow: $base-text-shadow;
        }
        .big-j {
          letter-spacing: -55px;
          transition: 0.5s;
        }
        .big-b {
          margin-left: -55px;
        }
        .header {
          color: $base-grey;
          text-shadow: $base-text-shadow;
          margin-top: 60rem;
        }
        .header--webdev {
          padding-right: 15px;
        }
        .header--calligrapher {
          padding-left: 15px;
        }
     }
      .main-left {
        z-index: 200;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 98% 97%;
        transition: 0.5s;
      }
      .main-right {
        z-index: 190;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 3% 100%;
        transition: 0.5s;

      }
    }
    .element--hover {
      .half {
        .big-j {
          mix-blend-mode: screen;
          opacity:0.5;
          transition: 0.5s;
        }
        .big-b {
          mix-blend-mode: screen;
          opacity:0.5;
          transition: 0.5s;
        }
        .header--webdev {
          color: $base-blue;
          transition: 0.5s;
        }
      .header--calligrapher {
          color: $base-red;
          transition: 0.5s;
        }
      }
      .main-left {
        background-image: url('../images/j.png');
        background-position: 98% 97%;
        transition: 0.5s;
      }
      .main-right {
        background-image: url('../images/b.png');
        background-repeat: no-repeat;
        background-position: 3% 100%;
        transition: 0.5s;
      }
    }
    .element--click {
      .half {
        .big-j {
          mix-blend-mode: overlay;
          opacity: 0.8;
          transition: 0.5s;
        }
        .big-b {
          mix-blend-mode: overlay;
          opacity: 0.8;
          transition: 0.5s;
        }
      }
    }
  }
}

#header {
  background-image: url('../images/header_pic.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  height: 100vh;
  .to-top-btn {
    position: fixed;
    width: 150px;
    height: 150px;
    left: 100%;
    margin-left: -200px;
    top: 100%;
    margin-top: -200px;
    opacity: 0;
    transition: 0.2s;
    background-image: url('../images/scroll-top.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .to-top-btn:hover {
    opacity: 1;
    transition: 0.2s;
  }
  .to-top-btn:active {
    background-image: url('../images/scroll-top-hover.png');
    transition: 0.2s;
  }
  .to-top-btn--scroll {
    opacity: 0.5;
  }
  .header-top {
    height: 60vh;
    position: relative;
    padding-top: 30px;
    &--left {
      z-index: 5;
      .text-center {
        padding-top: 8%;
        font-size: $subsubheader;
      }
    }
    &--middle {
      z-index: 5;
      &-avatar {
        margin: auto;
        width: 100%;
      }
    }
    &--right {
      z-index: 5;
      .text-center {
        padding-top: 4%;
        font-size: $subsubheader;
      }
    }
  }
  .header-top::after {
    content: "";
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -80px;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 480px;
  }
  .header-quote {
    &-text {
      margin-top: -80px;
      height: 175px;
      padding-top: 50px;
      font-size: 1.75rem;
      p {
        display: none;
      }
      .author {
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

#overview {
  margin-top: -320px;
  padding-top: 450px;
  background: none;
  background-image: url('../images/overview_bg.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  .overview-text {
    padding: 50px 0 200px 0;
    text-align: justify;
    .scroll-button {
      margin-top: -310px;
    }
    h2 {
      font-size: $subheader;
      padding: 25px 0;
    }
    p {
      font-size: $focus-text;
    }
  }
}

#skills {
  background-image: url('../images/skills_bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding-top: 100px;
  .skills-header {
    .scroll-button {
      margin-top: -350px;
    }
    h2 {
      font-size: $header;
    }
  }
  .skills-container {
    margin: 200px 0;
    opacity: 0;
    transition: all 0.5s;
    .row {
      padding: 0 15px;
    }
    &--background {
      height: 300px;
      background-color: rgba(0, 117, 169, 0.8);;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.92);
      -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.92);
      box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.92);
      &-header {
        color: rgba(255,255,255,1);
        width: 100%;
        text-align: left;
        font-size: $subsubheader;
        z-index: 300;
      }
      .skills-els {
        width: 100%;
        margin: 0;
        .el {
          height: 160px;
          padding: 5px 20px;
          &--bar {
            position: relative;
            // background-color: rgba(255, 255, 255, 0.5);
            border: solid 2px #fff;
            width: 100%;
            height: 100%;
            padding: 2px;
            overflow: hidden;
            &-fill {
              width: 100%;
              height: 110%;
              background: #fff;
              transform: translateY(102%);
              opacity: 0.5;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
            }

            &-icn {
              position: absolute;
              width: 48px;
              height: 48px;
              left: 50%;
              margin-left: -24px;
              top: 100%;
              z-index: 50;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
            }
            &-icn-active {
              animation: slideUp 0.4s cubic-bezier(.32,.8,.44,1.24) forwards;
            }
            &-txt {
              position: absolute;
              top: 50px;
              left: 100px;
              width: 100%;
              text-align: center;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
              h3 {
                font-size: 1.5rem;
              }
            }
          }
        }
        .el:hover {
          .el--bar {
            &-icn {
              left: -100px;
            }
            &-txt{
              left: 0;
            }
          }
        }
      }
    }
  }
}





.separator {
  height: 20px;
  width: 100%;
  background-image: url('../images/separator.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 75px 0;
}

.scroll-button {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  width: 68px;
  height: 106px;
  background-image: url('../images/button_scroll.png');
  transition: 0.3s;
}
.scroll-button:hover {
  background-image: url('../images/button_scroll_hover.png');
  transition: 0.3s;
}
.showOverview {
  opacity: 0;
  transition: 0.5s;
}
