// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "font";
@import "svg";
@import "animations";
@import "animate";
@import "hover";
@import "shadows";
@import "variables";

a {
  text-decoration: none;
  color: #fff;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a:active {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
a:focus {
  text-decoration: none;
  color: #fff;
}


body {
  font-family: $arkhip;
  color: #fff;
  background-color: $base-grey;
  max-width: 100vw;
  overflow-x: hidden;
}

#jb {
  background: $base-grey;
  width: 100vw;
  // height: 100vh;
  .row{
    width: 100%;
    margin-top: 0rem;
    .main-element {
      display: none;
      .half {
        transition: 0.5s;
        overflow: hidden;
        .big-letter {
          font-size: $big-text;
          color: $base-grey;
          text-shadow: $base-text-shadow;
          // height: 65rem;
        }
        .big-j {
          // width: 36rem;
          float: right;
          letter-spacing: -55px;
        }
        .big-b {
          // width: 47rem;
          margin-left: -55px;
          float: left;
        }
        .header {
          color: $base-grey;
          text-shadow: $base-text-shadow;
          // margin-top: 60rem;
        }
        .header--webdev {
          padding-right: 15px;
        }
        .header--calligrapher {
          padding-left: 15px;
        }
     }
      .main-left {
        z-index: 200;
        background-image: none;
        background-repeat: no-repeat;
        background-position: -7rem 10.7rem;
        transition: all 0.5s;
        width: 36rem;
        float: right;
        margin-right: 10px;
      }
      .main-right {
        z-index: 190;
        background-image: none;
        background-repeat: no-repeat;
        background-position: 1.3rem 1.5rem;;
        transition: all 0.5s;

      }
    }
    .main-element:hover {
      .half {
        .big-j {
          mix-blend-mode: screen;
          opacity:0.5;
        }
        .big-b {
          mix-blend-mode: screen;
          opacity:0.5;
        }
        .header--webdev {
          color: $base-blue;
        }
        .header--calligrapher {
          color: $base-red;
        }
      }
      .main-left {
        background-image: url('../images/j.png');
        background-position: -7rem 10.7rem;
      }
      .main-right {
        background-image: url('../images/b.png');
        background-position: 1.3rem 1.5rem;
      }
    }
  }
}

#page-nav {
  position: fixed;
  left: 100%;
  margin-left: -150px;
  top: 50%;
  margin-top: -75px;
  z-index: 2000;
  .nav-wrapper {
    width: 100%;
    list-style: none;
    &-el {
      span {
        opacity: 0;
        padding: 5px;
        transition: all 0.2s ease-in;
        transform: translateY(150px);
      }
      svg {
        opacity: 0.5;
        padding-top: 3px;
        transition: all 0.2s ease-in;
      }
    }
    &-el:hover {
      span {
        opacity: 1;
      }
      svg {
        opacity: 1;
      }
    }
  }
}

.header-webdev {
  background-image: url('../images/webdev_header.jpg');
}
.header-calligraphy {
  background-image: url('../images/calli_header.jpg');
}
#header {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: fixed;
  height: 115vh;
  .header-bar {
    opacity: 0;
    .menu-btn {
      opacity: 0.5;
      transition: all 0.2s ease-in;
      z-index: 10;
    }
    .menu-btn:hover {
      opacity: 1;
    }
    &--menu {
      &-btn {
        width: 2.5rem;
        height: 2.5rem;
        position: relative;
        margin: 15px 10px;
        font-size: 2.5rem;
        &--circle {
          position: absolute;
          opacity: 0;
          top: 10px;
          left: 10px;
          width: 0;
          height: 0;
          border: 3px solid #fff;
          border-radius: 50%;
          transition: all 0.3s cubic-bezier(.32,.8,.44,1.5);
        }
      }
      &-btn:hover > .header-bar--menu-btn--circle {
        opacity: 1;
        top: -4.75px;
        left: -7px;
        width: 4rem;
        height: 4rem;
      }
      &-nav {
        &--hole {
          list-style: none;
          .nav-el {
            position: relative;
            margin: 5px;
            text-align: center;
            width: 150px ;
            height: 25px;
            border: 2px solid #fff;
            overflow: hidden;
            display: block;
            transform: translateX(-300px);
            transition: all 0.3s cubic-bezier(.32,.8,.44,1.5);
          }
          .nav-el--active {
            transform: translateX(0);
          }
        }
        .nav-calligraphy {
          .hvr-bounce-to-top:before {
            background: $base-red;
          }
        }
        .nav-webdev {
          .hvr-bounce-to-top:before {
            background: $base-blue;
          }
        }
      }
    }
    &--home {
      &-btn {
        position: relative;
        font-size: 2.5rem;
        .btn-label {
          position: absolute;
          left: 100%;
          top: 10px;
          margin-left: -35px;
          width: 30px;
        }
        &--circle {
          position: absolute;
          opacity: 0;
          top: 30px;
          left: 100%;
          margin-left: -20px;
          width: 0;
          height: 0;
          border: 3px solid #fff;
          border-radius: 50%;
          transition: all 0.3s cubic-bezier(.32,.8,.44,1.5);
          z-index: 0;
        }
      }
      &-btn:hover > .header-bar--home-btn--circle {
        opacity: 1;
        top: 10px;
        left: 100%;
        margin-left: -40px;
        width: 4rem;
        height: 4rem;

      }
    }
  }
  .header-top {
    height: 60vh;
    position: relative;
    &--pos {
      position: absolute;
      width: 100%;
      height: 180px;
      top: 50%;
      margin-top:-90px;
      pointer-events: none;
    }
    &--left {
      z-index: 5;
      .showHeader {
        opacity: 0;
      }
      &-avatar {
        z-index: 5;
        padding: 0;
        border-radius: 50%;
        border: 5px solid #fff;
        padding: 0;
        width: 100%;
      }
      &-name {
        border-bottom: solid 2px #fff;
        width: 260px;
        padding-bottom: 10px;
        margin-left: 30px;
      }
      &-occupation {
        margin-top: 10px;
        margin-left: 30px;
      }
    }
    &--right {
      z-index: 5;
      pointer-events: all;
      &--dummy {
        position: relative;
        width: 300px;
        height: 80px;
        margin: auto;
        border: solid 3px #fff;
        opacity: 0;
        &-button {
          opacity: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          border: solid 3px #fff;
          top: 50px;
          left: 80px;
          overflow: hidden;
          a {
            text-decoration: none;
            color: #fff;
          }
          &--fill {
            transition: all 0.5s cubic-bezier(.32,.8,.44,1);
            &-icn {
              img {
                margin-top: 80px;
                padding: 0 10px;
              }
            }
          }
          &--fill:hover {
            transform: translateY(-115px);
            padding: 20px
          }
        }
      }
      .text-center {
        padding-top: 4%;
        font-size: 2rem;
      }
    }
  }
}

.overview-webdev {
  background-image: url('../images/webdev_overview.png');
}
.overview-calligraphy {
  background-image: url('../images/calli_overview.png');
}
#overview {
  margin-top: -32vh;
  padding-top: 450px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 10;
  .overview-wrapper {
    padding: 50px 0 200px 0;
    text-align: justify;
    min-height: 100vh;
    z-index: 0;
    .scroll-button {
      margin-top: -450px;
    }
    @media screen and (max-width: 1280px) {
      .scroll-button {
        margin-top: -500px;
      }
    }

    &--pos {

    }
    &-el {
      // border: 1px solid white;
      padding: 100px 0;
      height: 500px;
      &-icn {
        margin: auto;
        width: 15rem;
        font-size: 15rem;
      }
      &-desc:after {
        width: 50%;
        height: 2px;
        background-color: #fff;
        position: absolute;
      }
      &-desc {
        position: relative;
        opacity: 0;
        width: 100%;
        padding: 0 50px;
        h3 {
          padding: 10px 0;
        }
      }
    }
  }
  .scroll-button {
    margin-top: -100px;
  }
}

.skills-webdev {
  background-image: url('../images/webdev_skills.jpg');
}
.skills-calligraphy {
  background-image: url('../images/calli_skills.jpg');
}
#skills {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: bottom;
  padding: 400px 0 100px 0;
  .skills-header {
    h2 {
      font-size: $header;
    }
  }
  .skills-container {
    margin: 150px 0;
    opacity: 0;
    transition: all 0.5s;
    .row {
      padding: 0 15px;
    }
    &--background {
      min-height: 300px;
      padding-bottom: 20px;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(50, 50, 50, 0.92);
      -moz-box-shadow:    0px 0px 15px 0px rgba(50, 50, 50, 0.92);
      box-shadow:         0px 0px 15px 0px rgba(50, 50, 50, 0.92);
      &-header {
        color: rgba(255,255,255,1);
        width: 100%;
        text-align: left;
        font-size: $subsubheader;
        z-index: 300;
      }
      .skills-category {
        width: 100%;
        margin: 0;
        .el {
          height: 160px;
          padding: 5px 1%;
          &--bar {
            position: relative;
            // background-color: rgba(255, 255, 255, 0.5);
            border: solid 2px #fff;
            width: 100%;
            height: 100%;
            padding: 2px;
            overflow: hidden;
            &-fill {
              width: 100%;
              height: 110%;
              background: #fff;
              transform: translateY(102%);
              opacity: 0.5;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
            }

            &-icn {
              position: absolute;
              width: 48px;
              height: 48px;
              left: 50%;
              margin-left: -24px;
              top: 100%;
              z-index: 50;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
            }
            &-icn-active {
              animation: slideUp 0.4s cubic-bezier(.32,.8,.44,1.24) forwards;
            }
            &-txt {
              position: absolute;
              top: 35px;
              left: 150px;
              width: 100%;
              text-align: center;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
              h3 {
                font-size: 1.5rem;
              }
            }
            &-level {
              position: absolute;
              top: 70px;
              left: -150px;
              width: 100%;
              text-align: center;
              transition: all 0.5s cubic-bezier(.32,.8,.44,1);
              h4 {
                font-size: 1.6rem;
                font-weight: 800;
              }
            }
          }
        }
        .el:hover {
          .el--bar {
            &-icn {
              left: -100px;
            }
            &-txt{
              left: 0;
            }
            &-level {
              left: 0;
            }
          }
        }
      }
    }
  }
  .scroll-button {
    margin-top: -70px;
  }
  .offer {
    position: relative;
    margin: 75px 0 150px 0;
    opacity: 0;
    &-nav {
      left: 0;
      top: 0;
      height: 600px;
      width: 16.9%;
      position: absolute;
      z-index: 500;
      &-icn {
        height: 25%;
        border-right: 3px solid #fff;
        padding-top: 3.2rem;
        font-size: 7rem;
        transition: background-color 0.3s ease-out, font-size 0.25s ease-out;
        cursor: pointer;
      }
      .active {
        padding-top: 2.9rem;
        background-color: $base-red;
        border-left: 3px solid #fff;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-right: none !important;
      }
      // .active:hover {
      //   padding-top: 2.8rem;
      // }

    }
    &-content {
      position: relative;
      height: 600px;
      &-el {
        border-top: 3px solid #fff;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        display: none;
        width: 100%;
        height: 100%;
        background-color:$base-red;
        padding: 10px 50px;
        position: absolute;
        left: 0;
        top: 0;
        h3 {
          padding: 0 0 30px 0;
        }
        p {
          text-align: justify;
          padding: 0 50% 0 0;
        }
        img {
          position: absolute;
          top: 100%;
          left: 100%;
          z-index: 100;
          height: 525px;
          width: 350px;
          margin-top: -600px;
          margin-left: -420px;
          border: none !important;
        }
      }
      .active {
        display: block;
      }
    }
  }
}

#projects {
  position: relative;
  min-height: 100vh;
  background-color: $base-grey;
  padding: 150px 0 250px 0;
  .projects-wrapper {
    min-height: 1000px;
    h2 {
      font-size: $subheader;
      padding: 0 0 150px 0;
    }
    #projects-nav {
      // display: none;
      width: 600px;
      margin: auto;
      padding: 0 0 50px 0;
      ul {
        list-style: none;
        display: flex;
        padding: 0;
        li {
          margin: auto;
          padding: 0 10px;
          font-size: 2.5rem;
          opacity: 0.5;
          transition: all 0.3s cubic-bezier(0.1,0.02,0.32,1);
          text-align: center;
          min-width: 100px;
          cursor: pointer;
          opacity: 0;
          color: rgba(255, 255, 255, 0.6);
          border-left: 1px solid rgba(255, 255, 255, 0);
          border-right: 1px solid rgba(255, 255, 255, 0);
          a {
            pointer-events: none;
          }
        }
        li:hover {
          opacity: 1;
          border-left: 1px solid rgba(255, 255, 255, 0.6);
          border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
        .inactive {
          animation: none;
          opacity: 0.3;
        }
        .active {
          opacity: 1;
          border-left: 1px solid rgba(255, 255, 255, 0.6);
          border-right: 1px solid rgba(255, 255, 255, 0.6);
        }
      }
    }
    .project-el {
      opacity: 0;
      height: 300px;
      padding: 5px;
      cursor: pointer;
      z-index: 0;
      &--thumb {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        img {
          height: 100%;
          width: auto;
        }
        &-overlay {
          position: absolute;
          background-color: rgba(0, 0, 0, 0.5);
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: all 0.3s cubic-bezier(0.8,0.2,0.5,1);
          padding: 15px;
          z-index: 200;
          h3 {
            padding: 10px 0 20px 0;
            border-bottom: 1px solid #fff;
            margin-bottom: 20px;
          }
          p {
            text-align: justify;
          }
        }
        &-overlay:hover {
          opacity: 0.7;
        }
      }
    }
    .lightbox {
      opacity: 0;
      position: fixed;
      background: rgba(0, 0, 0, 0.5);
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      padding: 50px;
      pointer-events: none;
      z-index: 1500;
      margin: 0;
      &-quit {
        position: absolute;
        top: 15px;
        left: 100%;
        margin-left: -40px;
        font-size: 2rem;
        transition: all 0.3s ease-out;
        height: 2rem;
        opacity: 0.5;
        cursor: pointer;
      }
      &-quit:hover {
        transform: rotate(180deg);
        top: 17px;
        opacity: 1;
      }
      &-miniatures {
        list-style: none;
        li {
          width: 100%;
          height: 120px;
          background-color: $base-blue;
          margin-bottom: 15px;
          overflow: hidden;
          cursor: pointer;
          transition: all 0.3s ease-out;
          img {
            width: 100%;
            height: auto;
          }
        }
        li:hover {
          opacity: 1 !important;
        }
      }
      &-wrapper {
        position: relative;
        height: 100%;
        padding: 15px;
        &--img {
          height: 50%;
          overflow: hidden;
          img {
            margin-top: -20%;
            width: 100%;
            height: auto;
          }
        }
        .spinner {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1000;
          top: 0;
          left: 0;
          transition: all 0.3s ease-out;
          pointer-events: none;
          svg {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -3.5rem;
            margin-left: -3.5rem;
            font-size: 7rem;
            animation: spin 1s linear 1s infinite;
          }
        }
        &--text {
          height: 35%;
          h3 {
            padding: 10px 0;
            width: 30%;
            margin:  20px 0;
            transition: all 0.3s ease-out;
            line-height: 15px;
          }
        }
        &--btns {
          .btn-sq {
            width: 225px;
            height: 50px;
            border: 2px solid #fff;
            margin: 5px auto;
            padding: 1rem;
            cursor: pointer;
            &--hole {
              text-align: center;
              font-size: 1.7rem;
            }
          }
          .btn-sq--blue {
            background-color: $base-blue;
            color: #fff;
            transition: all 0.2s ease-out;
          }
          .btn-sq--blue:hover {
            background-color: #fff;
            color: $base-blue;
          }
          .btn-sq--red {
            background-color: $base-red;
            color: #fff;
            transition: all 0.2s ease-out;
          }
          .btn-sq--red:hover {
            background-color: #fff;
            color: $base-red;
          }
        }
      }
    }
  }
  .scroll-button {
    margin-top: 80px;
  }
}

#testimonials {
  z-index: 1000;
  padding-top: 15px;
  .tes-wrapper {
    &-body {
      list-style: none;
      .tes-el {
        padding: 50px;
        text-align: center;
        margin-left: 10px;
        &-img {
          height: 125px;
          width: auto;
          margin-bottom: 25px;
        }
        &-txt {
          position: relative;
          &-author {
            font-style: italic;
            opacity: 0.7;
          }
        }
      }
    }
  }
  #carousel {
    width:905px;
    height:290px;
    margin:auto;
    #slides {
      overflow:hidden;
      /* fix ie overflow issue */
      position:relative;
      width:900px;
      height:250px;
      ul {
        position:relative;
        left:0;
        top:0;
        list-style:none;
        margin:0;
        padding:0;
        width:2700px;
        li {
          width:900px;
          height:250px;
          float:left;
        }
      }
    }
    #buttons {
      margin:0 5px;
      position: absolute;
      width: 300px;
      text-align: center;
      z-index: 500;
      left: 50%;
      margin-left: -58px;
      a {
        display:block;
        float:left;
        font-size: 3rem;
        padding: 5px 15px;
        opacity: 0.4;
        transition: all 0.2s ease-in;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
  .clear {clear:both}
}

#contact {
  background-color: $base-grey;
  min-height: 120vh;
  background-image: url('../images/contact_bg.jpg');
  background-position: center;
  background-attachment: fixed;
  .contact {

    &-header {
      padding: 50px 0;
      // border: 1px solid #fff;
      &-txt {
        font-size: $subheader;
      }
    }
    &-bubbles {
      height: 300px;
      &-el {
        .bubble {
          position: absolute;
          left: 50%;
          margin-left: -4.5rem;
          margin-top: 70px;
          height: 9rem;
          width: 9rem;
          padding: 1rem;
          border: 3px solid rgba(255,255,255,0);
          transition: all 0.2s ease-out;
          svg {
            padding-top: 5px;
            font-size: 6rem;
          }
        }
        .caption {
          text-align: center;
          font-size: 1.3rem;
          transition: all 0.2s ease-out;
          opacity: 0;
        }
      }
      &-el:hover {
        .bubble {
          border-radius: 50%;
          margin-left: -4.5rem;
          margin-top: 75px;
          border: 3px solid rgba(255,255,255,1);
          height: 9rem;
          width: 9rem;
          padding: 1rem;
        }
        .caption {
          opacity: 1;
          padding-top: 50px;
        }
      }
    }
    &-map {
      height: 500px;
      position: relative;
      #map {
        margin-top: 50px;
        margin-bottom: 175px;
        height: 550px;
        border-radius: 50%;
        border: 5px solid $base-grey;
        opacity: 0.6;
        transition: all 0.2s ease-out;
      }

      .map-overlay {
        margin-top: 101px;
        height: 540px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 20px;
        width: 93.2%;
        background-color: $base-grey;
        opacity: 0.3;
        transition: all 0.2s ease-out;
      }

    }
    &-map:hover {
      #map {
        opacity: 0.9;
      }
      .map-overlay {
        opacity: 0;
      }
    }
  }
}

#footer {
  height: 300px;
  background-color: $base-grey;
  .jb-logo {
    position: absolute;
    width: 300px;
    top: 0;
    left: 50%;
    margin-left: -170px;
    margin-top: -150px;
    color: $base-grey;
    z-index: 1500;
    text-shadow: $up-text-shadow;
    h3 {
      width: 100%;
      text-align: center;
      font-size: 15rem;
      letter-spacing: -2.8rem;
    }
  }
}

.separator {
  height: 20px;
  width: 100%;
  background-image: url('../images/separator.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 75px 0;
}

.scroll-button {
  position: absolute;
  left: 50%;
  margin-left: -34px;
  width: 68px;
  height: 106px;
  background-image: url('../images/button_scroll.png');
  transition: 0.3s;
}
.scroll-button:hover {
  background-image: url('../images/button_scroll_hover.png');
  transition: 0.3s;
}
.showOverview {
  opacity: 0;
  transition: 0.5s;
}

.stop-scrolling {
  overflow: hidden;
}

@import "rwd";
