<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>yo</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/hover/css/hover.css" />
    <link rel="stylesheet" href="/bower_components/jssocials/dist/jssocials.css" />
    <link rel="stylesheet" href="/bower_components/jssocials/dist/jssocials-theme-flat.css" />
    <link rel="stylesheet" href="styles/font-awesome/font-awesome.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- HEADER -->

    <nav id="page-nav">
      <ul class="nav-wrapper text-right">
        <li class="nav-wrapper-el" data-scrollTo="header">
          <a href="#header">
            <span>top</span>
            <svg class="icn icn-radio-checked">
              <use xlink:href="symbol-defs.svg#icn-radio-checked">
              </use>
            </svg>
          </a>
        </li>
        <li class="nav-wrapper-el" data-scrollTo="scroll-overview">
          <a href="#scroll-overview">
            <span>overview</span>
            <svg class="icn icn-radio-unchecked">
              <use xlink:href="symbol-defs.svg#icn-radio-unchecked">
              </use>
            </svg>
          </a>
        </li>
        <li class="nav-wrapper-el" data-scrollTo="scroll-skills">
          <a href="#scroll-skills">
            <span>skills</span>
            <svg class="icn icn-radio-unchecked">
              <use xlink:href="symbol-defs.svg#icn-radio-unchecked">
              </use>
            </svg>
          </a>
        </li>
        <li class="nav-wrapper-el" data-scrollTo="scroll-projects">
          <a href="#scroll-projects">
            <span>projects</span>
            <svg class="icn icn-radio-unchecked">
              <use xlink:href="symbol-defs.svg#icn-radio-unchecked">
              </use>
            </svg>
          </a>
        </li>
        <li class="nav-wrapper-el" data-scrollTo="scroll-contact">
          <a href="#scroll-contact">
            <span>contact</span>
            <svg class="icn icn-radio-unchecked">
              <use xlink:href="symbol-defs.svg#icn-radio-unchecked">
              </use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <header id="header" class="container-fluid header-webdev">
      <a href="#header">
        <!-- <div class="to-top-btn">
        </div> -->
      </a>
      <div class="row header-bar">
        <div class="col-xs-6 header-bar--menu">
          <div class="header-bar--menu-btn menu-btn">
            <svg class="icn icn-home">
              <use xlink:href="symbol-defs.svg#icn-home3">
              </use>
            </svg>
            <div class="header-bar--menu-btn--circle">
            </div>
          </div>
          <nav class="header-bar--menu-nav">
            <ul class="header-bar--menu-nav--hole nav-webdev">
              <li class="nav-el hvr-bounce-to-top">
                <a href="index.html">home</a>
              </li>
              <li class="nav-el hvr-bounce-to-top">
                <a href="#">web dev</a>
              </li>
              <li class="nav-el hvr-bounce-to-top">
                <a href="calligraphy.html">calligraphy</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xs-6 header-bar--home">
          <div class="header-bar--home-btn text-right">
            <div class="menu-btn btn-label">
              <a href="../">
                jb
              </a>
            </div>
            <div class="header-bar--home-btn--circle">
            </div>
          </div>
        </div>
      </div>
      <div class="container header-top">
        <div class="row header-top--pos">

          <div class="col-xs-12 col-sm-6 header-top--left">
            <div class="row">
              <div class="col-xs-8 col-md-4">
                <img src="images/qba_av.png" class="header-top--left-avatar showHeader" alt="me!" />
              </div>
              <div class="col-xs-8 col-md-8">
                <h1 class="text-left header-top--left-name showHeader">
                  Jakub Bujko
                </h1>
                <h2 class="text-left header-top--left-occupation showHeader">
                  Web Developer<br>
                  Designer
                </h2>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 header-top--right">
            <div class="header-top--right--dummy text-center">
              my work on
              <div class="header-top--right--dummy-button text-center variant-blue">
                <a href="#">
                  <div class="header-top--right--dummy-button--fill text-center">
                    GitHub
                    <div class="header-top--right--dummy-button--fill-icn">
                      <img src="images/icn/github.png" alt="" />
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </header>

    <!-- OVERVIEW -->

    <section id="overview" class="container-fluid overview-webdev">
      <div class="row">
        <div class="col-sm-12 col-md-12 overview-wrapper variant-blue--gradient">
          <div class="container overview-wrapper--pos" id="scroll-overview">
            <a href="#scroll-overview">
              <div class="scroll-button animated infinite pulse"></div>
            </a>
            <div class="col-xs-12 col-md-3 overview-wrapper-el showOverview">
              <div class="row">
                <div class="overview-wrapper-el-icn ">
                  <svg class="icn icn-meter">
                    <use xlink:href="symbol-defs.svg#icn-meter"></use>
                  </svg>
                </div>
              </div>
              <div class="row">
                <div class="overview-wrapper-el-desc text-center showOverviewText">
                  <h3>Fast</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 overview-wrapper-el showOverview">
              <div class="row">
                <div class="overview-wrapper-el-icn ">
                  <svg class="icn icn-meter">
                    <use xlink:href="symbol-defs.svg#icn-mobile"></use>
                  </svg>
                </div>
              </div>
              <div class="row">
                <div class="overview-wrapper-el-desc text-center showOverviewText">
                  <h3>Responsive</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 overview-wrapper-el showOverview">
              <div class="row">
                <div class="overview-wrapper-el-icn ">
                  <svg class="icn icn-meter">
                    <use xlink:href="symbol-defs.svg#icn-coin-dollar"></use>
                  </svg>
                </div>
              </div>
              <div class="row">
                <div class="overview-wrapper-el-desc text-center showOverviewText">
                  <h3>Wallet Friendly</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 overview-wrapper-el showOverview">
              <div class="row">
                <div class="overview-wrapper-el-icn ">
                  <svg class="icn icn-meter">
                    <use xlink:href="symbol-defs.svg#icn-spinner10"></use>
                  </svg>
                </div>
              </div>
              <div class="row">
                <div class="overview-wrapper-el-desc text-center showOverviewText">
                  <h3>Fancy</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  </p>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#scroll-skills">
      <div class="scroll-button animated infinite pulse"></div>
    </a>
    </section>

    <!-- SKILLS -->

    <section id="skills" class="container-fluid variant-blue skills-webdev">
      <div class="container">
        <div class="row skills-header">

          <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" id="scroll-skills">
            <h2 class="skills-header--text text-center">Skills</h2>
          </div>
        </div>
        <div class="row skills-container skills-first">
          <div class="col-xs-12 col-md-10 col-md-offset-1 skills-container--background variant-blue">
            <div class="row">
              <h3 class="skills-container--background-header">
                WebDev
              </h3>
            </div>
            <div class="row skills-category" id="webdev">

              <!-- LOADS SKILLS FROM CATEGORY :: W E B D E V -->

            </div>
          </div>
        </div>
        <div class="row skills-container skills-second">
          <div class="col-xs-12 col-md-10 col-md-offset-1 skills-container--background variant-blue">
            <div class="row">
              <h3 class="skills-container--background-header">
                Design
              </h3>
            </div>
            <div class="row skills-category" id="design">

              <!-- LOADS SKILLS FROM CATEGORY :: D E S I G N -->

            </div>
          </div>
        </div>
      </div>
      <a href="#scroll-projects">
        <div class="scroll-button animated infinite pulse"></div>
      </a>
    </section>

    <!-- PROJECTS -->

    <section id="projects">
      <div class="container projects-wrapper">
        <div class="row">
          <div id="scroll-projects" class="col-xs-12">
            <h2 class="text-center">
              Latest Projects
            </h2>
          </div>
        </div>
        <nav id="projects-nav" class="row">
          <div class="col-xs-12">
            <ul id="navAjax">

              <!-- LOADS GALLERY NAV :: C A T E G O R I E S -->

              <li class="category-btn all-btn">
                <a href="">
                  all
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <div id="galleryAjax">

          <!-- LOADS GALLERY FROM :: P R O J E C T S -->

          <div class="lightbox row">
            <div class="lightbox-quit">
              <svg class="icn icn-cross">
                <use xlink:href="symbol-defs.svg#icn-cross">
                </use>
              </svg>

            </div>
            <ul class="lightbox-miniatures col-xs-12 col-sm-3 col-md-2">

              <!-- LOADS MINIATURES -->

            </ul>
            <div class="lightbox-wrapper col-xs-12 col-sm-9 col-md-8 variant-blue">
              <div class="spinner">
                <svg class="icn icn-home">
                  <use xlink:href="symbol-defs.svg#icn-spinner10">
                  </use>
                </svg>
              </div>
              <div class="lightbox-wrapper--img">

                <!-- LOADS HI-RES IMG -->

              </div>
              <div class="lightbox-wrapper--text">

                <!-- LOADS DESCRIPTION -->

              </div>
              <div class="lightbox-wrapper--btns row">
                <div class="col-xs-6">
                  <div class="btn-sq btn-sq--blue">
                    <div class="btn-sq--hole">
                      GitHub repo
                    </div>
                  </div>
                </div>
                <div class="col-xs-6">
                  <div class="btn-sq btn-sq--blue">
                    <div class="btn-sq--hole">
                      Live Demo
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#testimonials">
        <div class="scroll-button animated infinite pulse"></div>
      </a>
    </section>

    <!-- TESTIMONIALS -->

    <section id="testimonials" class="shadow3 variant-blue">
      <div class="container-fluid">

        <div id="carousel">
        	<div id="buttons">
        		<a href="#" id="prev">
              <svg class="tes-el-txt-icn icn icn-circle-left">
                <use xlink:href="symbol-defs.svg#icn-circle-left"></use>
              </svg>
            </a>
        		<a href="#" id="next">
              <svg class="tes-el-txt-icn icn icn-circle-right">
                <use xlink:href="symbol-defs.svg#icn-circle-right"></use>
              </svg>
            </a>
        		<div class="clear"></div>
        	</div>

        	<div class="clear"></div>

        	<div id="slides" class="row tes-wrapper">
        		<ul id="testimonialsAjax"class="col-sm-12 tes-wrapper-body">


        		</ul>
        		<div class="clear"></div>
        	</div>

        </div>

        <!-- <div class="row tes-wrapper">
          <ul class="col-sm-12 tes-wrapper-body">
            <li class="tes-el">
              <img class="tes-el-img" src="images/qba_av.png" alt="" />
              <p class="tes-el-txt">
                <svg class="tes-el-txt-icn icn icn-quotes-left">
                  <use xlink:href="symbol-defs.svg#icn-quotes-left"></use>
                </svg>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                <span class="tes-el-txt-author">
                  <br>John Cattlehead
                </span>
              </p>
            </li>
          </div> -->
      </div>
      </div>
    </section>

    <!-- CONTACT -->

    <section id="contact">
      <div class="contact container">
        <div class="row contact-header">
          <div class="col-xs-12">
            <h2 class="text-center contact-header-txt" id="scroll-contact">
              Get in touch
            </h2>
          </div>
        </div>
        <div class="row contact-bubbles">
          <div class="col-xs-3 col-md-2 col-md-offset-2 text-center">
            <div class="contact-bubbles-el">
              <a href="https://twitter.com/Xiltyn" target="_blank">
                <div class="bubble" data-media="twitter">
                  <svg class="icn icn-twitter">
                    <use xlink:href="symbol-defs.svg#icn-twitter">
                    </use>
                  </svg>
                </div>
                <div class="caption">
                  @xiltyn
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-3 col-md-2 text-center">
            <div class="contact-bubbles-el">
              <a href="https://pl.linkedin.com/in/jakub-bujko" target="_blank">
                <div class="bubble" data-media="linkedin">
                  <svg class="icn icn-linkedin">
                    <use xlink:href="symbol-defs.svg#icn-linkedin">
                    </use>
                  </svg>
                </div>
                <div class="caption">
                  Jakub Bujko
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-3 col-md-2 text-center">
            <div class="contact-bubbles-el">
              <a href="mailto:jakub.bujko@gmail.com&subject=[JB Contact] Let's get in touch&body=Let me know what you need!">
                <div class="bubble" data-media="email">
                  <svg class="icn icn-mail">
                    <use xlink:href="symbol-defs.svg#icn-mail4">
                    </use>
                  </svg>
                </div>
                <div class="caption">
                  jakub.bujko@gmail.com
                </div>
              </div>
              </a>
          </div>
          <div class="col-xs-3 col-md-2 text-center">
            <div class="contact-bubbles-el">
              <a href="skype:+48530697242?call">
                <div class="bubble" data-media="phone">
                  <svg class="icn icn-phone">
                    <use xlink:href="symbol-defs.svg#icn-phone">
                    </use>
                  </svg>
                </div>
                <div class="caption">
                  +48 530697242
                </div>
              </div>
              </a>
          </div>

        </div>
        <div class="row contact-map">
          <div class="col-xs-10 col-md-6 col-xs-offset-1 col-md-offset-3">
            <h3 class="text-center">
              You can find me here
            </h3>
            <div id="map">
            </div>
            <div class="map-overlay">

            </div>
            <script>
              function initMap() {
                var uluru = {lat: 50.05, lng: 19.95};
                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 10,
                  center: uluru
                });
                var marker = new google.maps.Marker({
                  position: uluru,
                  map: map
                });
              }
            </script>
            <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2syKmz-UM34NeEFQFtxWIU-X9s7hsev0&callback=initMap">
            </script>
          </div>
        </div>
      </div>

    </section>

    <!-- FOOTER -->

    <Footer id="footer" class="shadow3">
      <div class="jb-logo">
        <h3>JB</h3>
      </div>

      <div class="container footer-body">
        <div class="row">
          <div id="socials" class="col-xs-8 col-xs-offset-2 text-center">

          </div>
        </div>
        <div id="breadcrumb" class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 breadcrumb-el">
            <h4>Sitemap</h4>
            <ul>
              <a href="index.html">
                <li><span>Home page</span></li>
              </a>
              <a href="webdev.html">
                <li><span>Web development</span></li>
              </a>
              <a href="calligraphy.html">
                <li><span>Calligraphy</span></li>
              </a>
              <a href="about.html">
                <li><span>About me</span></li>
              </a>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 breadcrumb-el">
            <h4>Follow me at</h4>
            <ul>
              <!-- <a href="#">
                <li>Behance <span>| for latest design projects</span></li>
              </a> -->
              <a href="#" target="_blank">
                <li>Etsy <span>| for the calligraphy shop</span></li>
              </a>
              <a href="https://github.com/Xiltyn/" target="_blank">
                <li>GitHub <span>| for my coding projects</span></li>
              </a>
              <!-- <a href="#">
                <li>Pinterest <span>| for what inspires me</span></li>
              </a>
              <a href="#">
                <li>Medium <span>| for what I’m thinking</span></li>
              </a> -->
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-3 breadcrumb-el">
            <h4>Reach me at</h4>
            <ul class="breadcrumb-el-contact">
              <li>Phone <span>+48 530 697 242</span></li>
              <li>Email <span>jakub.bujko@gmail.com</span></li>
              <li>Address <span>Somewhere in Kazimierz,</span><br><span>Cracow,</span><br><span>POLAND</span></li>
            </ul>
          </div>
        </div>
        <div class="row copyrights">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
            <div class="copyrights-txt">
              <p>
                copyrigths | Jakub Bujko | 2016
              </p>
            </div>
          </div>
        </div>
      </div>

    </Footer>

    <!-- Underscore.js templates -->

      <!-- Skills template -->

      <script type="text/template" id="skillsTemp">
        <div class="el col-xs-6 col-sm-3 col-md-2 text-center" data-id="<%= id %>" data-cat="<%= cat %>" data-skill="<%= name %>" >
          <div class="el--bar">
            <div class="el--bar-fill" data-skillLevel="<%= level %>">

            </div>
            <div class="el--bar-icn">
              <img src="images/icn/<%= imgSrc %>" alt="<%= name %>" />
            </div>
            <div class="el--bar-txt">
              <h3>
                <%= name %>
              </h3>
            </div>
            <div class="el--bar-level">
              <h4>
                <%= level %>%
              </h4>
            </div>
          </div>
        </div>
      </script>

      <!-- Projects categories menu template -->

      <script type="text/template" id="catTemp">
        <li class="category-btn" data-category="<%= category %>">
          <a href="">
            <%= category %>
          </a>
        </li>
      </script>

      <!-- Projects gallery template -->

      <script type="text/template" id="projTemp">
        <div class="project-el el-<%= id %> col-xs-6 col-md-4" data-category="<%= category %>">
          <div class="project-el--thumb">
            <img src="images/gallery/thumb/<%= thumb %>" data-bigSrc="images/gallery/<%= thumb %>" data-id="<%= id %>" data-repo="<%= repo %>" alt="<%= name %>" />
            <div class="project-el--thumb-overlay">
              <h3>
                <%= name %>
              </h3>
              <p>
                <%= desc %>
              </p>
            </div>
          </div>
        </div>
      </script>

      <!-- Testimonials element template -->

      <script type="text/template" id="testTemp">

        <li class="tes-el">
          <img class="tes-el-img" src="images/testimonials/<%= imgSrc %>" alt="author: <%= author %>" />
          <p class="tes-el-txt">
            <%= content %>
            <span class="tes-el-txt-author">
              <br><%= author %>
            </span>
          </p>
        </li>

      </script>

    <!-- end:Underscore.js templates -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/enquire/dist/enquire.js"></script>
    <script src="/bower_components/jssocials/dist/jssocials.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
    <script src="svgxuse.js"></script>
  </body>
</html>
